<div class="example-container">
    <mat-toolbar>Consulta de Tipo de cambio</mat-toolbar>

    <form [formGroup]="form" (ngSubmit)="calculateExchangeRate()">

        
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Monto Original </mat-label>
                <input matInput formControlName="amountSource" type="number" />
                <mat-icon matSuffix class="disabled-text">user</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Grupo</mat-label>
                <mat-select formControlName="currencySource">
                    <mat-option *ngIf="currencies?.length === 0" [value]='Select'>Select</mat-option>
                    <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                        {{currency.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> 

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Monto Destino </mat-label>
                <input matInput formControlName="amountTarget" type="number" />
                <mat-icon matSuffix class="disabled-text">user</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Grupo</mat-label>
                <mat-select formControlName="currencyTarget">
                    <mat-option *ngIf="currencies?.length === 0" [value]='Select'>Select</mat-option>
                    <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                        {{currency.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> 

    </form>

</div>