<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="span12">
            <!-- <form class="form-horizontal" action='' method="POST"> -->
                <form [formGroup]="exchangeRateForm">
                <fieldset>
                    <div id="legend">
                        <legend class="">Calcular Tipo de cambio</legend>
                    </div>
                    <div class="control-group">
                        
                        <label class="control-label" for="amountSource">Amount Source</label>
                        <div class="controls">
                            <input type="number" id="amountSource" formControlName="amountSource" placeholder="" class="input-xlarge" required>
                        </div>


                        <label class="control-label" for="sourceSelect">Moneda Source</label>
                        <div class="controls">
                            <select id="sourceSelect" formControlName="sourceSelect" class="form-select" aria-label="Default select example">
                                <option *ngFor='let currency of currencies' [value]="currency.code">
                                {{currency.code}}
                            </option>
                            </select>
                        </div>
                        

                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="amountTarget">Amount Target</label>
                        <div class="controls">
                            <input type="number" id="amountTarget" formControlName="amountTarget" placeholder="" class="input-xlarge">
                        </div>

                        <label class="control-label" for="targetSelect">Moneda Target</label>
                        <div class="controls"> 
                            <select id="targetSelect"  formControlName="targetSelect" class="form-select" aria-label="Default select example" >
                                <option *ngFor='let currency of currencies' [value]="currency.code">
                                {{currency.code}}
                            </option>
                            </select>
                        </div>

                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" type="submit" (click)="calculateExchangeRate()" >Calcular</button>
                        </div>
                    </div>
                </fieldset>

              

            </form>

            <mat-card *ngIf="error">{{error}}</mat-card>
        </div>
    </div>
</div>